@model gNxt_HR_Dashboard.Models.MainInformationModels
@{
    Layout = "_LayoutPageMainInformation";
}
@{
    var showpayslip = @TempData["showpayslip"].ToString();
    var showapplyleave = @TempData["showApplyleave"].ToString();
    var showPaySlipClass = "";
    var hideMainDivClass = "";
    var showapplyleaveClass = "";
}
@if (showpayslip == "true")
{
    showPaySlipClass = "ShowPaySlip";
    hideMainDivClass = "DoNotShowPaySlip";
    showapplyleaveClass = "DoNotShowPaySlip";
}
else
{
    hideMainDivClass = "ShowPaySlip";
    showPaySlipClass = "DoNotShowPaySlip";
}
@if (showapplyleave == "true")
{
    showapplyleaveClass = "ShowLeaveRequest";
    hideMainDivClass = "DoNotShowLeaveRequest";
}
else if (showapplyleave == "false")
{
    hideMainDivClass = "ShowLeaveRequest";
    showapplyleaveClass = "DoNotShowLeaveRequest";
}
<link rel="stylesheet" href="~/css/bootstrap.min.css" />
<style>
        /*@@media print {
            body {
                width: 21cm;
                height: 29.7cm;
                margin: 30mm 45mm 30mm 45mm;
                / change the margins as you want them to be. /;
            }
        }*/

        .ShowPaySlip {
            display: block;
        }

        .DoNotShowPaySlip {
            display: none;
        }

        .ShowLeaveRequest {
            display: block;
        }

        .DoNotShowLeaveRequest {
            display: none;
        }

        .top11 {
            border: 1px solid black;
            text-align: left;
        }


        .right-border {
            border-right: 1px solid black;
        }

        .row-border-top {
            border-top: 1px solid black;
        }

        .row-border-bottom {
            border-bottom: 1px solid black;
        }

        .text-center {
            text-align: center;
        }

        .text-end-set {
            text-align: end;
        }

        body {
            font-family: Verdana, Geneva, Tahoma, sans-serif !important;
            font-size: 0.8em;
            /*margin: 10mm 15mm 10mm 15mm;*/
        }

        @@media print {
            .noPrint {
                display: none;
            }
        }

        .div-background {
            background-size: cover;
            /*background: linear-gradient(0deg, rgba(255,255,255,0.3), rgba(255, 255, 255, 0.3)), url('../../Image/new-pexels-thisisengineering-3861437.png');*/
            
            height: 2177px;
            width: 1193px;
        }

        .container-contect {
            width: 1145px;
            background-color: #fff;
            
            /*height:1066px;*/
        }

        .header #month {
            color: #ff5252;
            font-size: 60px;
            font-weight: 600;
            
        }



        .weekdays {
            width: 100%;
            display: flex;
            background-color: #2f3640;
            font-size: 17px;
            color: #fff;
            font-weight: 500;
          
        }

            .weekdays div {
                width: 160px;
                padding: 10px;
                text-align: center;
                text-transform: uppercase;
            }

        #calendar {
            width: 100%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
        }

        .day {
            width: 153px;
            height: 168px;
            padding: 10px;
            cursor: pointer;
            margin: 5px;
            box-sizing: border-box;
            box-shadow: 0px 0px 3px #cbd4c2;
            color: #7f8fa6;
            font-weight: 500;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size:40px;
            color:black !important;
        }

            .day:hover {
                background-color: rgba(112, 111, 211, 0.1);
                color: #706fd3;
            }

        #currentDay {
            background-color: #706fd3;
            color: #fff;
        }

        .event {
            font-size: 10px;
            padding: 3px;
            background-color: #3d3d3d;
            color: #fff;
            border-radius: 5px;
            max-height: 55px;
            overflow: hidden;
              font-size:16px;
              color: black !important;
        }

            .event.holiday {
                background-color: palegreen;
                color: #3d3d3d;
            }

            .event.Intime {
                background-color: lightgreen;
            }

            .event.OutTime {
                background-color: orangered;
            }

            .event.Sickleave {
                background-color: lightslategray;
            }

            .event.Casualleave {
                background-color: #ACD793;
            }

            .event.Earnleave {
                background-color: lightcoral;
            }

        .plain {
            cursor: default;
            box-shadow: none;
        }

        /*#modal {
      display: none;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100vw;
      height: 100vh;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0.8);
    }*/

        /*#addEvent,
    #viewEvent {
      display: none;
      width: 350px;
      background-color: #fff;
      padding: 25px;
      position: absolute;
      z-index: 20;
    }*/


        #txtTitle {
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
            margin-bottom: 25px;
            border-radius: 3px;
            outline: none;
            border: 1px solid #cbd4c2;
            font-size: 16px;
        }

        .div-background {
            background-size: cover;
            background: linear-gradient(0deg, rgba(255,255,255,0.3), rgba(255, 255, 255, 0.3)), url('../../Image/new-pexels-thisisengineering-3861437.png');
        
        }
     .input-text-font-size{
     font-family: Sans-serif !important;
    }
</style>

<div class="container p-5 pb-0" style="background-color:#dcdcdc">
    <div class="bg-white">
        <div class="row">
            <div>
                <div class="p-1">
                    <div class="container div-background">
                        @*<img src="~/image/pexels-thisisengineering-3861437.jpg" class="img-fluid mt-3 mb-3" style="max-height: 505px; opacity: 0.4; width:100%" />*@

                        <div id="mainDiv" class="@hideMainDivClass">

                            <div class="row date-time p-5 col-md-12" style="padding-top:175px !important">
                                <div class="d-flex">
                                    <p class="col-6 input-text-font-size"><span id="date" class="date-time-font-size" style="font-size:50px !important"></span></p>
                                    <p class="col-6 text-end input-text-font-size"><span id="time" class="date-time-font-size" style="font-size:50px !important"></span></p>
                                </div>
                                <div class="mt-5" style="padding-top:70px !important">
                                    <div class="mt-3" style="color: #0C87CA;  text-align: center; padding-top:100px !important">
                                        @*<a class="elementor-button col-8 centered-button"   !important" href="@Url.Action("Index", "Home")"><strong style="font-size:25px">Cancel</strong></a>*@
                                        <a class="col-12 elementor-button p-md-3" style="height:66px" id="noticeDivButton">
                                            <strong class="font-size-button fs-2 input-text-font-size">Notice Board</strong>
                                        </a>
                                        <div style="padding-top:130px">
                                            <a class="col-12 elementor-button p-md-3" style="height:66px" id="missDivButton">
                                                <strong class="font-size-button fs-2 input-text-font-size">Missed Punch</strong>
                                            </a>
                                        </div>
                                        <div style="padding-top:130px">
                                            <a class="col-12 elementor-button p-md-3" style="height:66px" id="attenDivButton" onclick="getattendance()">
                                                <strong class="font-size-button fs-2 input-text-font-size">
                                                    Current Month Attendance
                                                </strong>
                                            </a>
                                        </div>
                                        <div style="padding-top:130px">
                                            <a class="col-12 elementor-button p-md-3" style="height:66px" id="payslipDivButton">
                                                <strong class="font-size-button fs-2 input-text-font-size">Pay Slip</strong>
                                            </a>
                                        </div>
                                        <div style="padding-top:130px">
                                            <a class="col-12 elementor-button p-md-3" style="height:66px" id="mainDivButton">
                                                <strong class="font-size-button fs-2 input-text-font-size">Leave Request</strong>
                                            </a>
                                        </div>
                                        <div style="padding-top:130px">
                                            <a class="col-12 elementor-button p-md-3" style="height:66px" id="leaveDivButton">
                                                <strong class="font-size-button fs-2 input-text-font-size">Leave Balance</strong>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div id="subMainDiv" class="@showapplyleaveClass">
                            <form method="post" action="MainInformation">
                                <div class="row col-md-12" style="padding-top:175px">
                                    <div class="p-4 mt-1" style="color: #0C87CA;  text-align: center;">
                                        <h3 class="input-text-font-size"><strong style="font-size:75px">Leave Request</strong></h3>
                                    </div>
                                    <div class="mt-3" style="padding-top:120px">
                                        <div class="row ms-5 align-items-center">
                                            <div class="form-check col-2 ms-5">
                                                @Html.RadioButtonFor(model => model.LeaveRequest.LeaveType, "FullLeave", new { @class = "form-check-input input-text-font-size", Checked = "checked" })
                                                <label class="form-check-label ms-3 align-middle" for="flexRadioDefault1">
                                                    <strong class="input-text-font-size" style="color:#0C87CA; font-size:20px">From Date</strong>
                                                </label>
                                            </div>
                                            <div class="col-3">
                                                @Html.TextBoxFor(model => model.LeaveRequest.FromDate, new { @class = "form-control input-text-font-size", type = "date" })
                                            </div>
                                            <div class="form-check col-2">

                                                <label class="form-check-label ms-3 align-middle" for="flexRadioDefault2">
                                                    <strong class="input-text-font-size" style="color:#0C87CA; font-size:20px">To Date</strong>
                                                </label>
                                            </div>
                                            <div class="col-3">
                                                @Html.TextBoxFor(model => model.LeaveRequest.ToDate, new { @class = "form-control input-text-font-size", type = "date" })
                                            </div>
                                        </div>



                                    </div>
                                    <div class="mt-5">
                                        <div class="row ms-5 align-items-center" style="padding-top:90px !important">
                                            <div class="form-check col-2 ms-5">
                                                @Html.RadioButtonFor(model => model.LeaveRequest.LeaveType, "HalfLeave", new { @class = "form-check-input input-text-font-size" })
                                                <label class="form-check-label ms-3 align-middle" for="flexRadioDefault1">
                                                    <strong class="input-text-font-size" style="color:#0C87CA; font-size:20px">Half Day</strong>
                                                </label>
                                            </div>
                                            <div class="col-3">
                                                @Html.TextBoxFor(model => model.LeaveRequest.HalfDayDate, new { @class = "form-control input-text-font-size", type = "date" })
                                            </div>
                                            <div class="form-check col-2">

                                                <label class="form-check-label ms-3 align-middle" for="flexRadioDefault2">
                                                    <strong class="input-text-font-size" style="color:#0C87CA; font-size:20px">Leave</strong>
                                                </label>
                                            </div>
                                            <div class="col-4">
                                                <div class="d-flex">
                                                    <div class="form-check">
                                                        @Html.RadioButtonFor(model => model.LeaveRequest.leaveTime, "1stHalf", new { @class = "form-check-input input-text-font-size" })
                                                        <label class="form-check-label ms-2 " for="flexRadioDefault1">
                                                            <strong class="input-text-font-size" style="color:#0C87CA; font-size:20px">1st Half</strong>
                                                        </label>
                                                    </div>
                                                    <div class="form-check ms-4">
                                                        @Html.RadioButtonFor(model => model.LeaveRequest.leaveTime, "2ndHalf", new { @class = "form-check-input input-text-font-size" })
                                                        <label class="form-check-label ms-2 " for="leaveType">
                                                            <strong class="input-text-font-size" style="color:#0C87CA; font-size:20px">2nd Half</strong>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-5 ms-5">
                                        <div class="row ms-5 align-items-center" style="padding-top:90px !important">
                                            <div class="form-check col-3">
                                                <label class="form-check-label ms-3 align-middle" for="flexRadioDefault2">
                                                    <strong class="input-text-font-size" style="color:#0C87CA; font-size:20px">Reason For Leave</strong>
                                                </label>
                                            </div>
                                            <div class="col-8">
                                                @Html.TextAreaFor(model => model.LeaveRequest.LeaveReasion, new { rows = "2", cols = "78" })
                                            </div>

                                        </div>

                                    </div>

                                    @if (@ViewBag.ApplyLeaveText != null)
                                    {
                                        <div class="mt-4 text-center">
                                            <h5 class="input-text-font-size" style="color:red"><b> @ViewBag.ApplyLeaveText </b></h5>
                                        </div>
                                    }

                                    <div style="padding-top:100px">
                                        <div class="p-5 mt-5" style="color: #0C87CA;  text-align: center;">
                                            <a class="elementor-button align-items-center justify-content-center col-6 centered-button" id="subMainDivButtonback"><strong style="font-size:20px">Back</strong></a>
                                            @*<a class="elementor-button align-items-center justify-content-center col-4 centered-button" id="subMainDivButton"><strong>Submit</strong></a>*@
                                            @*<input type="submit" value="Submit" class="elementor-button align-items-center justify-content-center col-4 centered-button" />*@

                                        </div>
                                        <div class="p-5 mt-2" style="color: #0C87CA;  text-align: center;">
                                            @*<a class="elementor-button align-items-center justify-content-center col-4 centered-button" id="subMainDivButtonback"><strong>Back</strong></a>*@

                                            @*<a class="elementor-button align-items-center justify-content-center col-4 centered-button" id="subMainDivButton"><strong>Submit</strong></a>*@
                                            <input type="submit" value="Submit" class="elementor-button align-items-center justify-content-center col-6 centered-button" />
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>
                        <div id="payslipDiv" class="@showPaySlipClass">
                            <form>
                                <div class="row" style="padding-top:175px" @*class="row position-absolute top-0 w-100 col-md-12" style="text-align: center; left: 0; right: 0; margin: auto;"*@>
                                    <div class="p-3 mt-2" style="color: #0C87CA; text-align: center;">
                                        <h3 class="input-text-font-size" style="font-size:70px"><strong>Pay Slip</strong></h3>
                                    </div>
                                    <div class="row col-12">
                                        <div class="d-flex" style="padding-top:100px !important">
                                            <label class="col-4 mt-4 fs-3 ms-3 input-text-font-size" style="color: #0C87CA;"><strong>Select Month</strong></label>
                                            <div class="col-8">
                                                <a href="@Url.Action("MainInformation","Home", new {Month = Model.PaySlipHeader.MontnNo1 })" class="elementor-button centered-button input-text-font-size" style="width:180px !important"><strong>@Html.DisplayFor(model => model.PaySlipHeader.MontnName1)</strong></a>
                                                <a href="@Url.Action("MainInformation","Home", new {Month = Model.PaySlipHeader.MontnNo2 })" class="elementor-button centered-button ms-3 input-text-font-size" style="width:180px !important"><strong>@Html.DisplayFor(model => model.PaySlipHeader.MontnName2)</strong></a>
                                                <a href="@Url.Action("MainInformation","Home", new {Month = Model.PaySlipHeader.MontnNo3 })" class="elementor-button centered-button ms-3 input-text-font-size"style="width:180px !important"><strong>@Html.DisplayFor(model => model.PaySlipHeader.MontnName3)</strong></a>
                                            </div>
                                            </div>
                                    </div>
                                 @if (Model.PaySlipHeader.BasicSalaryPayable != 0 && Model.PaySlipHeader.EmpCode != null)
                                 {
                                    <div class="row col-12 mt-5">
                                        <div class="p-4">
                                            <div id="contentToPrint" class="ms-3" style="padding-top:170px !important">
                                                <div class="p-3" style="background-color:white; width:1122px !important;">
                                                    <div style="text-align:center;white-space: pre">
                                                        <span class="me-5" style="font-family:Sans-serif; font-size:25px; margin-right:170px !important">AUXEIN MEDICAL PVT. LTD.</span>
                                                        <b class="me-5" style="font-family:Sans-serif; font-size:17px; margin-right:170px !important">PLOT NO 168-170 PHASE-4 SECTOR-57 KUNDLI, SONIPAT, HARYANA - 131028</b>
                                                        <b class="me-5" style="font-family:Sans-serif; font-size:17px; margin-right:170px !important">PAY SLIP FOR THE MONTH: @Html.DisplayFor(model => model.PaySlipHeader.PaySlipMonths), @Html.DisplayFor(model => model.PaySlipHeader.Year)</b>
                                                    </div>
                                                    <div class="row" style="border-bottom: 1px solid black;">

                                                    </div>
                                                    <div class="row  ">
                                                        <div class="row col-3 ">
                                                            <b>Employee Code</b>
                                                        </div>
                                                        <div class="col-3 ">
                                                            : @Html.DisplayFor(model => model.PaySlipHeader.EmpCode)
                                                        </div>
                                                        <div class="col-3 ">
                                                            <b>Joining Date</b>
                                                        </div>
                                                        <div class="col-3 ">
                                                            : @Html.DisplayFor(model => model.PaySlipHeader.JoiningDate)
                                                        </div>
                                                    </div>
                                                    <div class="row ">
                                                        <div class="row col-3 ">
                                                            <b>Name</b>
                                                        </div>
                                                        <div class="col-3 ">
                                                            : @Html.DisplayFor(model => model.PaySlipHeader.Name)
                                                        </div>
                                                        <div class="col-3 ">
                                                            <b>Designation</b>
                                                        </div>
                                                        <div class="col-3 ">
                                                            : @Html.DisplayFor(model => model.PaySlipHeader.Designation)
                                                        </div>
                                                    </div>
                                                    <div class="row ">
                                                        <div class="row col-3 ">
                                                            <b>Father/Husband Name</b>
                                                        </div>
                                                        <div class="col-3 ">
                                                            : @Html.DisplayFor(model => model.PaySlipHeader.FatherHusbandName)
                                                        </div>
                                                        <div class="col-3 ">
                                                            <b>Department</b>
                                                        </div>
                                                        <div class="col-3 ">
                                                            : @Html.DisplayFor(model => model.PaySlipHeader.Department)
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="row col-3 ">
                                                            <b>PF No. / UID No</b>
                                                        </div>
                                                        <div class="col-3 ">
                                                        </div>
                                                        <div class="col-3 ">
                                                            <b>Bank A/c</b>
                                                        </div>
                                                        <div class="col-3 ">
                                                            : @Html.DisplayFor(model => model.PaySlipHeader.BankAC)
                                                        </div>
                                                    </div>
                                                    <div class="row row-border-top ">
                                                        <div class="col-md-3 right-border text-center">
                                                            <b>Particulars</b>
                                                        </div>
                                                        <div class="col-md-2 right-border text-center">
                                                            <b>Rate</b>
                                                        </div><div class="col-md-2 right-border text-center">
                                                            <b>Payable</b>
                                                        </div>
                                                        <div class="col-md-5 text-center">
                                                            <b>Deductions</b>
                                                        </div>
                                                    </div>
                                                    <div class="row ">
                                                        <div class="col-md-3 row-border-top right-border text-center">
                                                            <b>No. of Days</b>
                                                        </div>
                                                        <div class="col-md-2 row-border-top right-border text-center">
                                                            @Html.DisplayFor(model => model.PaySlipHeader.Rate)
                                                        </div><div class="col-md-2 row-border-top right-border text-center">
                                                            @Html.DisplayFor(model => model.PaySlipHeader.Payable)
                                                        </div>
                                                    </div>
                                                    <div class="row row-border-top">
                                                        <div class="col-md-3 right-border">
                                                            <b>BASIC SALARY</b>
                                                        </div>
                                                        <div class="col-md-2 right-border text-end-set">
                                                            <b>@Html.DisplayFor(model => model.PaySlipHeader.BasicSalaryRate)</b>
                                                        </div><div class="col-md-2 right-border text-end-set">
                                                            <b>@Html.DisplayFor(model => model.PaySlipHeader.BasicSalaryPayable)</b>
                                                        </div>
                                                        <div class="col-md-5  d-flex">
                                                            <div class="col-md-8 right-border">
                                                            </div>
                                                            <div class="col-md-4">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row ">
                                                        <div class="col-md-3 right-border">
                                                            HRA
                                                        </div>
                                                        <div class="col-md-2 right-border text-end-set">
                                                            @Html.DisplayFor(model => model.PaySlipDesc.HRARate)
                                                        </div><div class="col-md-2 right-border text-end-set">
                                                            @Html.DisplayFor(model => model.PaySlipDesc.HRAPayable)
                                                        </div>
                                                        <div class="col-md-5  d-flex">
                                                            <div class="col-md-8 right-border">
                                                                PF
                                                            </div>
                                                            <div class="col-md-4 text-end-set">
                                                                @Html.DisplayFor(model => model.PaySlipDesc.PF)
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-3 right-border">
                                                            SPECIAL ALL. / MISC. ALLOW
                                                        </div>
                                                        <div class="col-md-2 right-border text-end-set">
                                                            @Html.DisplayFor(model => model.PaySlipDesc.SpecialAllowRate)
                                                        </div><div class="col-md-2 right-border text-end-set">
                                                            @Html.DisplayFor(model => model.PaySlipDesc.SpecialAllowPayable)
                                                        </div>
                                                        <div class="col-md-5  d-flex">
                                                            <div class="col-md-8 right-border">
                                                                ESI
                                                            </div>
                                                            <div class="col-md-4 text-end-set">
                                                                @Html.DisplayFor(model => model.PaySlipDesc.ESI)
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row ">
                                                        <div class="col-md-3 right-border">
                                                        </div>
                                                        <div class="col-md-2 right-border">
                                                        </div><div class="col-md-2 right-border">
                                                        </div>
                                                        <div class="col-md-5  d-flex">
                                                            <div class="col-md-8 right-border">
                                                                WELFARE
                                                            </div>
                                                            <div class="col-md-4 text-end-set">
                                                                @Html.DisplayFor(model => model.PaySlipDesc.WelFare)
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-3 right-border">
                                                            INCENTIVE
                                                        </div>
                                                        <div class="col-md-2 right-border text-end-set">
                                                            0.00
                                                        </div>
                                                        <div class="col-md-2 right-border text-end-set">
                                                            0.00
                                                        </div>
                                                        <div class="col-md-5 d-flex">
                                                            <div class="col-md-8 right-border">
                                                                ADVANCE
                                                            </div>
                                                            <div class="col-md-4 text-end-set">
                                                                @Html.DisplayFor(model => model.PaySlipDesc.Advance)
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row ">
                                                        <div class="col-md-3 right-border">
                                                        </div>
                                                        <div class="col-md-2 right-border">
                                                        </div>
                                                        <div class="col-md-2 right-border">
                                                        </div>
                                                        <div class="col-md-5  d-flex">
                                                            <div class="col-md-8 right-border">
                                                                INCOME TAX
                                                            </div>
                                                            <div class="col-md-4 text-end-set">
                                                                @Html.DisplayFor(model => model.PaySlipDesc.IncomeTex)
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-border">
                                                        <div class="col-md-3 right-border">
                                                        </div>
                                                        <div class="col-md-2 right-border">
                                                        </div>
                                                        <div class="col-md-2 right-border">
                                                        </div>
                                                        <div class="col-md-5  d-flex">
                                                            <div class="col-md-8 right-border">
                                                                OTHERS DED.
                                                            </div>
                                                            <div class="col-md-4 text-end-set">
                                                                @Html.DisplayFor(model => model.PaySlipDesc.OtherDed)
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-border-top">
                                                        <div class="col-md-3  right-borderatio ">
                                                            Gross Salary:
                                                        </div>
                                                        <div class="col-md-2  right-borderatio text-end-set">
                                                            @Html.DisplayFor(model => model.PaySlipDesc.GrossSalaryRate)
                                                        </div>
                                                        <div class="col-md-2 right-borderatio text-end-set">
                                                            @Html.DisplayFor(model => model.PaySlipDesc.GrossSalaryPayable)
                                                        </div>
                                                        <div class="col-md-5  d-flex">
                                                            <div class="col-md-8 right-borderatio">
                                                                Total :
                                                            </div>
                                                            <div class="col-md-4 text-end-set">
                                                                @Html.DisplayFor(model => model.PaySlipDesc.DeductionTotal)
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row  row-border-top">
                                                        <div class="col-md-3">
                                                            <b>NET PAY:</b><br />

                                                        </div>
                                                        <div class="col-md-2 text-end-set">
                                                            <b>@Html.DisplayFor(model => model.PaySlipDesc.NetPay)</b>
                                                        </div><br /><br />
                                                        <div class="col-md-12">
                                                            @Html.DisplayFor(model => model.PaySlipDesc.NetPayInWords)
                                                        </div>
                                                    </div>
                                                    <div class="row row-border-top">
                                                        <div>
                                                            @*Leaves Availed (This Month/YTD/Balance) : EL: 0/5/12 CL: 0/1.5/1 SL: 0/1.5/1.5*@
                                                        </div>
                                                    </div><br /><br /><br /><br /><br /><br /><br /><br />
                                                    <div class="row col-12 d-flex">
                                                        <div class="col-6">
                                                            <b>Pay-In-Charge</b>
                                                        </div>
                                                        <div class="col-5 text-end">
                                                            <b>Employee's Signature / Thumb Impression</b>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="mt-4" style="color: #0C87CA; text-align: center; padding-top:120px">
                                            <a class="elementor-button align-items-center justify-content-center col-4 centered-button" id="subMainDivButtonpay"><strong style="font-size:20px">Back</strong></a>
                                            <a hidden class="elementor-button align-items-center justify-content-center col-4 centered-button noPrint" onclick="printContent();"><strong>Print</strong></a>

                                        </div>
                                    </div>
                                 }
                                 else
                                 {
                                    <div class="text-center" style="padding-top:130px">
                                        <span style="color:red; font-size:50px"><b>@ViewBag.SalaryMessageText</b></span>
                                    </div>
                                        <div class="mt-4" style="color: #0C87CA; text-align: center; padding-top:120px">
                                            <a class="elementor-button align-items-center justify-content-center col-4 centered-button" id="subMainDivButtonpay"><strong style="font-size:20px">Back</strong></a>
                                            <a hidden class="elementor-button align-items-center justify-content-center col-4 centered-button noPrint" onclick="printContent();"><strong>Print</strong></a>
                                        </div>
                                 }

                                </div>
                            </form>
                        </div>
                        <div id="attenDiv" style="display:none">
                            <form>
                                <div class="row w-100 col-md-12" style="text-align: center; left: 0; right: 0; margin: auto; padding-top:175px">
                                    <div class="p-2 mt-3" style="color: #0C87CA; text-align: center;">
                                        <h3 class="input-text-font-size"><strong style="font-size:70px">Current Month Attendance</strong></h3>
                                    </div>
                                    <div class="">
                                        <div class="row">
                                        </div>
                                        <div class="mt-2" style="color: #0C87CA; text-align: center;padding-top:150px">
                                            <div class="container-contect">
                                                <div class="header" style="background-color:#0C87CA">
                                                    <div id="month"></div>
                                                    <div>
                                                        <button id="btnBack" hidden disabled><i class="fa fa-angle-left"></i></button>
                                                        <button id="btnNext" hidden disabled><i class="fa fa-angle-right"></i></button>
                                                    </div>
                                                </div>
                                                <div class="weekdays" style="font-size:40px !important">
                                                  
                                                    <div>Sun</div>
                                                    <div>Mon</div>
                                                    <div>Tue</div>
                                                    <div>Wed</div>
                                                    <div>Thu</div>
                                                    <div>Fri</div>
                                                    <div>Sat</div>
                                            
                                              </div>
                                                <div id="calendar"></div>
                                            </div>
                                            <br />
                                            <div class="col-md-12 d-flex">
                                                <div class="col-md-3 py-4" style="background-color:#ffff80; border: 1px solid black"><b class="fs-4" style="text-align:center !important;color: black !important;">Leave</b></div>
                                                <div class="col-md-3 text-center py-4" style="background-color:#c0ffff ; border: 1px solid black"><b class="fs-4" style="color: black !important;">Holiday</b></div>
                                                <div class="col-md-3 text-center py-4" style="background-color:#e28080; border: 1px solid black">
                                                    <b class="fs-4" style="color: black !important;">Miss Punch</b>
                                                </div>
                                                <div class="col-md-3 text-center py-4" style="background-color:#706fd3; border: 1px solid black">
                                                    <b class="fs-4" style="color: black !important;">Current Date</b>
                                                </div>
                                            </div>
                                            @*<div id="modal"></div>
                                                <div id="addEvent">
                                                    <h2>Add Event</h2>
                                                    <input type="text" id="txtTitle" placeholder="Event Title" />
                                                    <button id="btnSave">Save</button>
                                                    <button class="btnClose">Close</button>
                                                </div>

                                                <div id="viewEvent">
                                                    <h2>Event</h2>
                                                    <p id="eventText">This is Sample Event</p>
                                                    <button id="btnDelete">Delete</button>
                                                    <button class="btnClose">Close</button>
                                                </div>*@
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                    <div class="p-3" style="color: #0C87CA; text-align: center; padding-top:125px !important">
                                        <a class="elementor-button align-items-center justify-content-center col-6 centered-button" id="subMainDivButtonatten"><strong style="font-size:25px">Back</strong></a>
                                        @*<a class="elementor-button align-items-center justify-content-center col-4 centered-button" id=""><strong>Print</strong></a>*@

                                    </div>
                                </div>
                            </form>

                        </div>
                        <div id="leaveDiv" style="display:none">
                            <form>
                                <div class="row w-100 col-md-12" style="left 0; right 0; margin auto; padding-top:175px">
                                    <div class="mt-3" style="color: #0C87CA;  text-align: center;">
                                        <h3 class="input-text-font-size"><strong style="font-size:70px">Leave Balance As On Taken</strong></h3>
                                    </div>
                                    <div class="ms-5">
                                        <div class="col-11 mt-1">
                                            <div class="table-responsive" style="padding-top:150px; width:1066px">
                                                <table style="background-color:white">
                                                    <tr>
                                                        <th class="fs-4 text-center input-text-font-size" style="padding:40px">Title</th>
                                                        <th class="fs-4 text-center input-text-font-size">Casual Leave</th>
                                                        <th class="fs-4 text-center input-text-font-size">Earn Leave</th>
                                                        <th class="fs-4 text-center input-text-font-size">Sick Leave</th>
                                                    </tr>
                                                    @foreach (var items in Model.lstLeaveBalance)
                                                    {
                                                        <tr>
                                                            <td class="fs-4 text-center input-text-font-size" style="padding:25px">@items.Title</td>
                                                            <td class="fs-4 text-center input-text-font-size">@items.CasualLeave</td>
                                                            <td class="fs-4 text-center input-text-font-size">@items.EarnLeave</td>
                                                            <td class="fs-4 text-center input-text-font-size">@items.SickLeave</td>
                                                        </tr>
                                                    }

                                                    <tr style="border-top: 2px solid black;">
                                                        <td class="fs-4 text-center input-text-font-size" style="padding:25px">Closing (Opening + Entitle -  Availed)</td>
                                                        <td class="fs-4 text-center input-text-font-size">@Html.DisplayFor(model => model.CasualLeaveTotal)</td>
                                                        <td class="fs-4 text-center input-text-font-size">@Html.DisplayFor(model => model.EarnLeaveTotal)</td>
                                                        <td class="fs-4 text-center input-text-font-size">@Html.DisplayFor(model => model.SickLeaveTotal)</td>
                                                    </tr>
                                                </table>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="mt-1" style="color: #0C87CA;  text-align: center; padding-top:130px">
                                        <a class="elementor-button align-items-center justify-content-center col-4 centered-button" id="subMainDivButtonleave"><strong>Back</strong></a>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div id="noticeDiv" style="display:none">
                            <form>
                                <div class="row col-md-12" style="padding-top:175px">
                                    <div class="p-4 mt-1" style="color: #0C87CA;  text-align: center;">
                                        <h3 class="input-text-font-size"><strong style="font-size:75px">Notice Board</strong></h3>
                                    </div>
                                    <div class="p-2">
                                        <div class="ms-5 me-4" style="padding-top:100px !important">
                                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                                <div class="accordion-item ">
                                                    <h2 class="accordion-header" id="flush-headingOne">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                                            <strong class="fs-1 input-text-font-size" style="color:#0C87CA">Latest Notice</strong>
                                                        </button>
                                                    </h2>
                                                    <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <p class="fs-4 input-text-font-size" style="color:#0C87CA">@Html.DisplayFor(model => model.LatestNoticeText)</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="flush-headingTwo">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                                            <strong class="fs-1 input-text-font-size" style="color:#0C87CA">Past Notice</strong>
                                                        </button>
                                                    </h2>
                                                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <p class="fs-4 input-text-font-size" style="color:#0C87CA">@Html.DisplayFor(model => model.PastNoticeText)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-1" style="color: #0C87CA;  text-align: center; padding-top:120px !important">
                                        <a class="elementor-button align-items-center justify-content-center col-6 centered-button" id="subMainDivButtonnotice"><strong style="font-size:25px">Back</strong></a>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div id="puchDiv" style="display:none">
                            <form>
                                <div class="row col-md-12" style="padding-top:175px !important">
                                    <div class="p-4 mt-1" style="color: #0C87CA;  text-align: center;">
                                        <h3 class="input-text-font-size"><strong style="font-size:70px">Missed Punch</strong></h3>
                                    </div>
                                    <div class="mt-3" style="padding-top:100px !important">
                                        <div class="col-11 ms-3">
                                            <div @*style="overflow-y:auto; max-height:300px"*@>
                                                <table class="ms-5 scrollable-div" style="margin: 0 auto; border-collapse: collapse; border: 2px solid black;">
                                                    <tr style="text-align:center;">
                                                        <th class="" style="text-align:center; border: 2px solid black; color: #0C87CA;"><strong class="fs-3 input-text-font-size">S.No</strong></th>
                                                        <th class="" style="text-align:center; border: 2px solid black; color: #0C87CA;"><strong class="fs-3 input-text-font-size">Check-in date & time</strong></th>
                                                        <th class="" style="text-align:center; border: 2px solid black; color: #0C87CA;"><strong class="fs-3 input-text-font-size">Check-out date & time</strong> </th>
                                                    </tr>
                                                    @foreach (var items in Model.lstMissedPunch)
                                                    {

                                                        <tr style="text-align:center;">
                                                            <td class="" style="text-align:center; border: 2px solid black; color: #0C87CA;"><strong class="input-text-font-size">@items.SNO</strong></td>
                                                            <td class="" style="text-align:center; border: 2px solid black; color: #0C87CA;"><strong class="input-text-font-size">@items.InTime</strong></td>
                                                            <td class="" style="text-align:center; border: 2px solid black; color: #0C87CA;"><strong class="input-text-font-size">@items.OutTime</strong></td>
                                                        </tr>
                                                    }
                                                </table>
                                                <div class="mt-4 text-center" style="padding-top:120px !important">
                                                    <h5 style="color:red"><b class="fs-4 input-text-font-size">@ViewBag.MissedPunchText</b></h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-4" style="color: #0C87CA;  text-align: center; padding-top:120px !important">
                                        <a class="elementor-button align-items-center justify-content-center col-6 centered-button" id="subMainDivButtonpunch"><strong>Back</strong></a>
                                        <a hidden class="elementor-button align-items-center justify-content-center col-4 centered-button" id="subMainDivButton"><strong>Print</strong></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


                </div>



            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-end p-2">
            <strong style="font-size:15px">© powered by </strong>
            <img src="~/image/gnxt__newlogo.png" alt="Powered by logo" style="width:10%; height:100%" />
        </div>
    </div>


</div>
<script>

    function updateTime() {
        var now = new Date();
        var date = now.toDateString();
        var time = now.toLocaleTimeString();

        document.getElementById('date').innerHTML = date;
        document.getElementById('time').innerHTML = time;
    }

    // Call updateTime() every second to update the time
    setInterval(updateTime, 1000);

    $(document).ready(function () {
        $("#mainDivButton").click(function () {
            $("#mainDiv").hide(); // Hide the previous div
            $("#subMainDiv").show(); // Show the leaveForm div
        });
        $("#subMainDivButtonback").click(function () {
            $("#mainDiv").show(); // Hide the previous div
            $("#subMainDiv").hide(); // Show the leaveForm div
        });
        $("#payslipDivButton").click(function () {
            $("#mainDiv").hide(); // Hide the leaveForm div
            $("#payslipDiv").show(); // Show the date-time div
        });
        $("#subMainDivButtonpay").click(function () {
            $("#mainDiv").show(); // Hide the leaveForm div
            $("#payslipDiv").hide(); // Show the date-time div
        });
        $("#attenDivButton").click(function () {
            $("#mainDiv").hide(); // Hide the leaveForm div
            $("#attenDiv").show(); // Show the date-time div
        });
        $("#subMainDivButtonatten").click(function () {
            $("#mainDiv").show(); // Hide the leaveForm div
            $("#attenDiv").hide(); // Show the date-time div subMainDivButtonatten
        });
        $("#leaveDivButton").click(function () {
            $("#mainDiv").hide(); // Hide the leaveForm div
            $("#leaveDiv").show(); // Show the date-time div subMainDivButtonleave
        });
        $("#subMainDivButtonleave").click(function () {
            $("#mainDiv").show(); // Hide the leaveForm div
            $("#leaveDiv").hide(); // Show the date-time div
        });
        $("#payslipPdfGoButton").click(function () {
            /*   $("#mainDiv").hide(); */ // Hide the leaveForm div
            $("#payslipPdf").show(); // Show the date-time div
        });
        $("#attenPdfButton").click(function () {
            /*   $("#mainDiv").hide(); */ // Hide the leaveForm div
            $("#attenPdf").show(); // Show the date-time div
        });
        $("#loginMainDivButton").click(function () {
            /*   $("#mainDiv").hide(); */ // Hide the leaveForm div
            $("#mainDiv").show(); // Show the date-time div
            $("#loginPage").hide();
        });
        $("#noticeDivButton").click(function () {
            /*   $("#mainDiv").hide(); */ // Hide the leaveForm div
            $("#noticeDiv").show(); // Show the date-time div
            $("#mainDiv").hide();
        });
        $("#subMainDivButtonnotice").click(function () {
            /*   $("#mainDiv").hide(); */ // Hide the leaveForm div
            $("#noticeDiv").hide(); // Show the date-time div
            $("#mainDiv").show();
        });
        $("#missDivButton").click(function () {
            /*   $("#mainDiv").hide(); */ // Hide the leaveForm div
            $("#puchDiv").show(); // Show the date-time div
            $("#mainDiv").hide();
        });
        $("#subMainDivButtonpunch").click(function () {
            /*   $("#mainDiv").hide(); */ // Hide the leaveForm div
            $("#puchDiv").hide(); // Show the date-time div
            $("#mainDiv").show();
        });
        $("#openDivTableButtonDiv").click(function () {
            //  $("#mainDiv").hide();  // Hide the leaveForm div
            // $("#loginPage").hide();  // Show the date-time div
            $("#openDivTable").show();
            $("#monthTableDiv").hide();
            $("#currentTableDiv").hide();
        });
        $("#monthTableButton").click(function () {
            //  $("#mainDiv").hide();  // Hide the leaveForm div
            // $("#loginPage").hide();  // Show the date-time div
            $("#monthTableDiv").show();
            $("#openDivTable").hide();
            $("#currentTableDiv").hide();
        });
        $("#currentTableButton").click(function () {
            //  $("#mainDiv").hide();  // Hide the leaveForm div
            // $("#loginPage").hide();  // Show the date-time div
            $("#monthTableDiv").hide();
            $("#openDivTable").hide();
            $("#currentTableDiv").show();
        });


    });
    var today = new Date();

    // Get current year and month
    var year = today.getFullYear();
    var month = (today.getMonth() + 1).toString().padStart(2, '0'); // Adding 1 since getMonth() returns zero-based index

    // Set the placeholder text to current year and month
    document.getElementById("bdaymonth").placeholder = year + "-" + month;

</script>

<script>
    const calendar = document.querySelector("#calendar");
    const monthBanner = document.querySelector("#month");
    let navigation = 0;
    let clicked = null;
    let events = localStorage.getItem("events") ? JSON.parse(localStorage.getItem("events")) : [];
    const weekdays = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];

    function generateInTime() {
        return "In 10:00 AM";
    }

    function generateOutTime() {
        return "Out 7:00 PM";
    }


    //To get attendence
    function getattendance()
    {
        debugger;
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetCurrentMonthAttendance", "Home")',
            contentType: "application/json; charset=utf-8",
            data: { data: "" },
            dataType: "json",
            success: function (recData) {
                //console.log(recData);
                loadCalendar(recData)
            },

            error: function() { alert('A error'); }
        });
    }

    function loadCalendar(recData) {
        //console.log(recData);
        var Filterdate = '@System.Configuration.ConfigurationManager.AppSettings["FilterDate"]';

        var counter = 0;
        const dt = new Date();
       
        const currentDate = new Date().getDate();
        if (currentDate < Filterdate) {       
                dt.setMonth(new Date().getMonth()-1);       
        }
        else {
            if (navigation != 0) {
                dt.setMonth(new Date().getMonth() + navigation);
            }
        }
        const day = dt.getDate();

        //To get Privious Month dates change here
        const month = dt.getMonth();
        //To get Privious Month Name change here
        const lastmonth = dt.setMonth(dt.getMonth());

        const year = dt.getFullYear();
        monthBanner.innerText = `${dt.toLocaleDateString("en-us", {
            month: "long",
        })} ${year}`;
        calendar.innerHTML = "";
        const dayInMonth = new Date(year, month + 1, 0).getDate();

        const firstDayofMonth = new Date(year, month, 1);
        const dateText = firstDayofMonth.toLocaleDateString("en-us", {
            weekday: "long",
            year: "numeric",
            month: "numeric",
            day: "numeric",
        });

        const dayString = dateText.split(", ")[0];
        const emptyDays = weekdays.indexOf(dayString);

        for (let i = 1; i <= dayInMonth + emptyDays; i++) {

            let message1 = "";

           // alert("Intime :\n" + message1);
            const dayBox = document.createElement("div");
            dayBox.classList.add("day");
            const monthVal = month + 1 < 10 ? "0" + (month + 1) : month + 1;
            const dateVal = i - emptyDays < 10 ? "0" + (i - emptyDays) : i - emptyDays;


            console.log(dateVal);
            const dateText = `${dateVal}-${monthVal}-${year}`;

            if (i > emptyDays) {
                dayBox.innerText = i - emptyDays;

                recData.forEach(function (recData) {

                    console.log("dateVal :" + dateVal);
                    console.log("recData.AttnDate :" + recData.AttnDate);
                    if (dateVal == recData.AttnDate) {

                        //Code 8 for Holiday
                        if (recData.FirstHalf==8) {
                            dayBox.id = "currentDay";
                            dayBox.style.backgroundColor = "#c0ffff";
                            const eventDivInTime = document.createElement("div");
                            eventDivInTime.classList.add("event");
                            eventDivInTime.classList.add("Intime");
                            eventDivInTime.innerText = "In :" + recData.InTime;
                            dayBox.appendChild(eventDivInTime);

                            const eventDivOutTime = document.createElement("div");
                            eventDivOutTime.classList.add("event");
                            eventDivOutTime.classList.add("OutTime");
                            eventDivOutTime.innerText = "Out :" + recData.OutTime;
                            dayBox.appendChild(eventDivOutTime);
                        }//-1 or less then 0 is missed punch
                        else if ((recData.FirstHalf < 0) ){
                            dayBox.id = "currentDay";
                            dayBox.style.backgroundColor = "#e28080"
                            const eventDivInTime = document.createElement("div");
                            eventDivInTime.classList.add("event");
                            eventDivInTime.classList.add("Intime");
                            eventDivInTime.innerText = "In :" + recData.InTime;
                            dayBox.appendChild(eventDivInTime);

                            const eventDivOutTime = document.createElement("div");
                            eventDivOutTime.classList.add("event");
                            eventDivOutTime.classList.add("OutTime");
                            eventDivOutTime.innerText = "Out :" + recData.OutTime;
                            dayBox.appendChild(eventDivOutTime);
                        }// 1,2,3 all for Code for Leaves
                        else if ((recData.FirstHalf == 1) || (recData.FirstHalf == 2) || (recData.FirstHalf == 3)) {
                            dayBox.id = "currentDay";
                            dayBox.style.backgroundColor = "#ffff80"
                            const eventDivInTime = document.createElement("div");
                            eventDivInTime.classList.add("event");
                            eventDivInTime.classList.add("Intime");
                            eventDivInTime.innerText = "In :" + recData.InTime;
                            dayBox.appendChild(eventDivInTime);

                            const eventDivOutTime = document.createElement("div");
                            eventDivOutTime.classList.add("event");
                            eventDivOutTime.classList.add("OutTime");
                            eventDivOutTime.innerText = "Out :" + recData.OutTime;
                            dayBox.appendChild(eventDivOutTime);
                        }
                        else {
                            const eventDivInTime = document.createElement("div");
                            eventDivInTime.classList.add("event");
                            eventDivInTime.classList.add("Intime");
                            eventDivInTime.innerText = "In :" + recData.InTime;
                            dayBox.appendChild(eventDivInTime);

                            const eventDivOutTime = document.createElement("div");
                            eventDivOutTime.classList.add("event");
                            eventDivOutTime.classList.add("OutTime");
                            eventDivOutTime.innerText = "Out :" + recData.OutTime;
                            dayBox.appendChild(eventDivOutTime);
                        }
                    }
                });

                // Event Day
                if (i - emptyDays === day && navigation == 0) {
                    dayBox.id = "currentDay";
                }

                dayBox.addEventListener("click", () => {
                    showModal(dateText);
                });
            } else {
                dayBox.classList.add("plain");
            }
            calendar.append(dayBox);
        }
    }
</script>
<script>
    function printContent() {
        var printContent = document.getElementById("contentToPrint").innerHTML;
        var originalContent = document.body.innerHTML;
        document.body.innerHTML = printContent;
        window.print();
        document.body.innerHTML = originalContent;
    }
</script>